@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Nunito", sans-serif;
}

:root {
  background-color: #191f36;
  color: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #191f36;
  color: var(color);
}

section {
  min-height: 100vh;
  padding: 15rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #191f36;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: white;
  font-weight: 700;
  cursor: default;
}

.navbar a {
  font-size: 1.5rem;
  color: white;
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: #59B2F4;
}

#menu-icon {
  font-size: 3.6rem;
  color: #59B2F4;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3{
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 20pt;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: #59B2F4;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  width: 30vw;
  animation: floatImage 3s ease-in-out infinite;
  border-radius: 4px;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem)
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid #59B2F4;
  border-radius: 50%;
  font-size: 2rem;
  color: #59B2F4;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.social-media a:hover {
  background: #59B2F4;
  color: #191f36;
  box-shadow: 0 0 1rem #59B2F4;
}

.btn {
  display:inline-block;
  padding: 1rem 2.8rem;
  background: #59B2F4;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #59B2F4;
  font-size: 1.6rem;
  color: #191f36;
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .4s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #262B40;
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size:2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.courses h2 {
  margin-bottom: 5rem;
}

.courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.courses-container .courses-box {
  flex: 1 1 30rem;
  background: #262B40;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid #191f36;
  transition: .5s ease;
}

.courses-container .courses-box:hover {
  border-color: #59B2F4;
  transform: scale(1.02);
}

.courses-box i {
  font-size: 7rem;
  color: #59B2F4;
}

.courses-box h3 {
  font-size: 2.6rem;
}

.courses-box p {
  font-size: 1.6rem;
  margin: 1rem 0;
}

body img {
width: 60vw;
  border-radius: 4px;
}

.contact {
  margin-bottom: 3rem;
}

.conatact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom:3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
  .contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: #262B40;
    border-radius: .8rem;
    margin: .7rem 0;
  }
  
  .conatact form .input-box input {
    width: 49%;
  }
  
  .contact form textarea {
    resize: none;
  }
  
  .contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #262B40;
  }
  
  .footer-text {
    font-size: 1.6rem;
  }
  
  .footer-iconTop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem 1rem;
    background-radius: .8rem;
   transition: .5s ease;
  }
  
  .footer-iconTop a:hover {
    box-shadow: 0 0 1rem #59B2F4;
  }
  
  .footer-iconTop a i {
    font-size: 2.4rem;
   color: #59B2F4; 
  }
  
  
  /*BREAKPOINT*/
  
  @media (max-width: 1200px) {
    html {
      font-size: 55%;
    }
  }
  
  @media (max-width: 991px) {
    .header {
      padding: 2rem 3%;
    }
    
    section {
      padding: 10rem 3%;
    }
    
    .courses {
      padding: 7rem;
    }
    
    .contact {
      padding: 2rem 3%;
    }
    
    .footer {
      padding: 2rem 3%;
    }
  }
  
  @media (max-width: 768px) {
    #menu-icon {
      display: block;
    }
    
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
      background: #191f36;
      border-top: .1rem solid rgba(0, 0, 0, .2);
      box-shadow: 0 .5rem 1rem rgba(0, 0, .2);
      display: none;
    }
    
    .navbar.active {
      display: block;
    }
    
    .navbar a {
      font-size: 2rem;
      font-size: 2rem;
      margin: 3rem 0;
    }
    
    .home {
      flex-direction: column;
    }
    
    .home-content h3 {
      font-size: 2.6rem;
    }
    
    .home-content h1 {
      font-size: 5rem;
    }
    
    .home-content {
      order: 2;
    }
    
    .home-img img {
      width: 70vw;
      margin-top: 4rem;
    }
    
    .about {
      flex-direction: column;
    }
    
    .about-img img {
      width: 90vw;
      margin-top: 4rem;
    }
    
    .courses h2 {
      margin-bottom: 3rem;
    }
    
  }
  
  @media (max-width: 617px) {
    .courses-container{
      grid-template-columns: 1fr;
    }
    
    .home-img img {
      width: 80vw;
      margin-top: 8rem
    }
    
    .about-img img {
      width: 100vw;
      margin-top: 4rem;
    }
  }
  
  @media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  
  .contact form .input-box input {
    width: 100%;
  }